{% load sr_tags %}

<title>SR</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<style>
th {
    text-align: left;
}
td {
    padding-right: 10px;
}
</style>

<a href="{% url 'sr:dashboard' %}">dashboard</a>
<a href="{% url 'sr:add_girl' %}">add girl</a>
<a href="{% url 'logout' %}">logout</a>

{% block content %}
{% endblock content %}

<hr>
<p><b>Pravidla SR:</b>
<br>1. Nemluvíš o SR
<br>2. Nemluvíš o SR
<br>3. Pokud přidáváš holku, musí jí znát alespoň 3 uživatelé
<br>4. Hodnotíš pouze holku, kterou jsi viděl osobně
<br>5. Hodnotíš pouze vzhled (jediná výjimka je JT, protože je to kráva)
<br>6. Přidáváš pouze holky 15+<p>
<hr>
SR, founded 14. 6. 2014
