{% extends 'base.html' %}
{% load sr_tags %}


{% block content %}
<table>
    <tr>
        <th>
            Girl
            <a href="?order_by=name">+</a>
            <a href="?order_by=-name">-</a>
        </th>
        <th>
            Avg
            <a href="?order_by=-avg">+</a>
            <a href="?order_by=avg">-</a>
        </th>
        {% for user in users %}
            <th>
                {{ user }}
                <a href="?order_by=-{{ user.pk }}">+</a>
                <a href="?order_by={{ user.pk }}">-</a>
            </th>
        {% endfor %}
    </tr>
    {% for girl in girls %}
        <tr style="{% if forloop.counter|divisibleby:2 == 0 %}background: EEEEEE;{% endif %}">
            <td>
                <a href="{% url 'sr:girl_detail' girl.pk %}"><b>{{ girl }}</b> ({{ girl.get_comments_count }})</a>
                {% if girl.facebook_link %}
                    <a href="{{ girl.facebook_link }}" target="_blank">FB</a>
                {% endif %}
                {% if girl.picture_link %}
                    <a href="{{ girl.picture_link }}" target="_blank">pic</a>
                {% endif %}
                <a href="{% url 'sr:rate' girl.pk %}">rate</a>
                <a href="{% url 'sr:edit_girl' girl.pk %}">edit</a>
            </td>
            <td><b>{% rank girl.get_avg_rank %}</b> ({{ girl.get_rank_count }})</td>
            {% for user in users %}
                <td>{% rank_girl_user girl user %}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<hr>
<p><b>Timeline</b></p>
{% for msg in stream %}
<p><b>{{ msg.user }}</b> {{ msg.text }} - {{ msg.timestamp }}</p>
{% endfor %}
{% endblock content %}
